<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Google Maps API v3 Practical Implementation</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/update.js"></script>
</head>
<body>
    <header>
        <h2>Google Maps API v3 Practical Implementation</h2>
        <a href="http://www.script-tutorials.com/google-maps-api-v3-practical-implementation/" class="stuts">Back to original tutorial on <span>Script Tutorials</span></a>
    </header>
    <div class="clear"></div>
    <div class="container">
        <div class="column">
            <h3>Name: {name}</h3>
            <h3>First name: {fname}</h3>
            <h3>Last name: {lname}</h3>
            <h3>About: {about}</h3>
            <h3>Date Reg: {datereg}</h3>
        </div>
        <div class="column">
            <p><a href="index.php">Back to main page</a></p>
        </div>
    </div>

    {map}

    <div class="sidebar">
        <div>
            <h2>Online Members Block</h2>
            {online_members}
        </div>
        <div>
            <h2>Last Members</h2>
            {profiles}
        </div>
    </div>

</body>
</html>